* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: monospace;
}
:root {
  --black: #202020;
  --white: #fff;
  --gray: #d3d3d3;
}
body {
  height: 100vh;
  margin-top: 20px;
  background-image: url("../css/Images/1.jpg");
  background-size: cover;
  background-position: center;
}

.main {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.icon {
  width: 200px;
}
.logo {
  color: darkorange;
  font-size: 35px;
  font-weight: 500px;
  padding-left: 20px;
  padding: 10px;
}
.logo-img {
  height: 100px;
  width: auto;
}
.logo span {
  color: #d3d3d3;
}
/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0; /* Move to the right */
  background-color: rgba(15, 15, 15, 0.8); /* Translucent background */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-radius: 15px;
}

.sidebar ul li a {
  color: #ccc;
  display: block;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  transition: 0.1s ease-in-out;
}

.sidebar ul li a:hover {
  padding: 7px;
  border-radius: 10px;
  background-color: #ccc;
  color: #161616;
  font-family: monospace;
  font-weight: bold;
}

.sidebar ul li a:active {
  color: #d3d3d3;
}

/* Menu icon */
.menu-icon {
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
  padding: 35px;
  position: fixed; /* Ensure it's in the top corner */
  top: 0;
  right: 0; /* Align to the right */
}

/* Close button */
.closebtn {
  position: absolute;
  top: 25px; /* Align with the menu icon */
  right: 25px; /* Align with the menu icon */
  font-size: 40px; /* Same size as the menu icon */
  color: #ccc;
  text-decoration: none;
}

.closebtn:hover {
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  text-shadow: -1.5px -1.5px 0 var(--black), 1.5px -1.5px 0 var(--black),
    -1.5px 1.5px 0 var(--black), 1.5px 1.5px 0 var(--black);

  color: var(--white);
}
.btn-start {
  margin: 15px; /* Add some space between the text and the button */
  padding: 15px 80px;
  font-size: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #1d1c1c;
  text-decoration: none;
}

.btn-start:hover {
  background-color: #111111;
  transform: scale(0.97); /* Slightly darker color on hover */
}

/*Contact Form*/

.contact-container {
  width: 80%;
  margin: 20px auto;
}
.contact-container h1 {
  text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
    -1px 1px 0 var(--black), 1px 1px 0 var(--black);

  color: var(--white);
}
.contact-box {
  border-radius: 30px;
  background-color: rgba(231, 223, 223, 0.9);
  display: flex;
}
.contact-l {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-r {
  flex-basis: 40%;
  padding: 40px;
  background-color: rgba(7, 7, 7, 0.9);
  color: #fff;
  border-radius: 20px;
}
h1 {
  margin-bottom: 10px;
}
.contact-container p {
  margin-bottom: 15px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
.input-group input {
  width: 100%;
  border: none;
  border-bottom: 3px solid #202020;
  border-radius: 5px;
  outline: none;
  padding: 5px 0;
  padding-left: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label {
  margin-bottom: 5px;
  display: block;
}
button {
  background-color: #202020;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 30px;
  border-radius: 20px;
  margin-top: 20px;
}
button:hover {
  /*border: 1.5px solid #333;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 5px 5px 0px rgb(54, 54, 55); */
  transform: scale(0.96);
}

.contact-l h3 {
  color: #202020;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 30px;
}
.contact-r h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-r p {
  margin-top: 60px;
}
tr td:first-child {
  padding-right: 25px;
}
tr td {
  padding-top: 25px;
}

/*User Input Page*/
.user-container {
  display: flex;
  justify-content: space-evenly;
}
.user-form {
  background-color: rgba(95, 91, 91, 0.8);
  padding: 35px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.form-group input,
select {
  width: 100%;
  border: 2px solid #202020;
  border-radius: 5px;
  outline: none;
  padding: 5px 0;
  padding-left: 5px;
}
.input-form h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*Profile Page*/
.profile-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ccc;
  /* User's profile picture styling would go here */
}

.profile-info {
  margin-top: 20px;
}

.profile-info p {
  margin-bottom: 10px;
}

.profile-info a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.profile-info a:hover {
  background-color: #3367d6;
}

/*Test page*/
.modal-container {
  display: flex;
}

.modal {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.modal.expanded {
  width: 500px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  font-size: 24px;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.read-more {
  margin-top: 10;
}

/*About Page*/

.about-container h1 {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.about-text-main {
  background-color: rgba(230, 224, 224, 0.87);
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 2px 4px 15px rgba(216, 214, 214, 0.2);
}
.about-text-main p {
  padding: 10px 0;
}
.about-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  padding: 50px 20px;
  grid-gap: 20px;
}
.about-text {
  background-color: rgba(230, 224, 224, 0.87);
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 2px 4px 15px rgba(216, 214, 214, 0.2);
}

.about-text:hover {
  transform: translateY(-4px);
}
.about-text h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

/*Login Page*/
.log-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-form {
  width: 350px;
  border: 2px solid #ccc;
  padding: 25px;
  border-radius: 15px;
  background-color: #ccc;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.log-form h1 {
  text-align: center;
}
.form-content input {
  width: 100%;
  border: 2px solid #202020;
  border-radius: 5px;
  outline: none;
  padding: 5px 0;
  padding-left: 5px;
}
.log-btn {
  display: flex;
  justify-content: center;
}
.log-btn button {
  width: 70%;
  margin-bottom: 15px;
}
.log-container p {
  text-align: center;
}
.log-container p a {
  color: #3367d6;
}

/*RESULT PART///////////////////////////////////*/
.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.result h2 {
  color: #4caf50;
  font-size: 24px;
}
